.green-background {
  background-color: green;
  //background-image: url(http://content.sportslogos.net/logos/33/797/full/4938.png);
  background-repeat: no-repeat;
  background-position: 100% -100%;
}

.yellow-background {
  background-color: orange;
  //background-image: url(http://content.sportslogos.net/logos/33/798/full/5338.png);
  background-repeat: no-repeat;
  background-position: center;
}

.red-background {
  background-color: red;
  //background-image: url(http://content.sportslogos.net/logos/35/905/full/4946.png);
  background-repeat: no-repeat;
  background-position: center;
}
